@charset "utf-8";
/* CSS Document */
/*************menu de navegacion**************/
/*ESTILOS GENERALES*/
nav ul{ /* ESTOS UL SON DEL NAV*/
	list-style-type: none;
	margin: 0;
	padding: 0;
	
}
nav li{
	line-height: 3em;
	position: relative;
}
.menu ul{
	position: absolute;
}
nav a{
	display: block;
	color: #fff;
	text-align: center;
	padding: 0 1.3em;
	text-decoration: none;
	font-size: 1.2em;
	transition: .5s;
}

nav a:hover{
	background-color: rgba(0,0,0,.5);
}

/*PRIMER NIVEL */

.menu{
	background-color: #EB0A0E;
	display: table;
	width: 100%;	
}

.menu > li{
	float: left;
}

/*SEGUNDO NIVEL*/

nav li li{
	background-color: aqua;
	max-height: 0;
	overflow: hidden;
	transition: all .5s;
	width: 200px;
}
nav li:hover > ul > li{
	max-height: 500px;
	overflow: visible;
}
.menu > li > ul{ top: 100%;}

/*TERCER NIVEL*/
.menu ul ul{
	lef: 100%;
	top: 0px;
}


#nav .icon{ display: none;}

